## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os 

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/andrewsanchez/Desktop/World_Weather_Analysis/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.set_index('City_ID')

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
City_ID,,,,,,,,,
0,Katsuura,35.13,140.30,91.99,66,75,20.80,JP,broken clouds
1,Ushuaia,-54.80,-68.30,35.60,89,40,10.29,AR,scattered clouds
2,Rikitea,-23.12,-134.97,72.95,85,0,9.13,PF,clear sky
3,Leningradskiy,69.38,178.42,45.36,62,0,11.48,RU,clear sky
4,Asau,46.43,26.40,55.00,96,0,2.24,RO,clear sky
...,...,...,...,...,...,...,...,...,...
1510,Pevek,69.70,170.31,45.68,69,27,14.58,RU,scattered clouds
1511,Batticaloa,7.71,81.69,80.28,71,91,6.98,LK,overcast clouds
1512,Rikitea,-23.12,-134.97,72.95,85,0,9.13,PF,clear sky
1513,Mugumu,-1.85,34.70,63.50,78,73,2.73,TZ,light rain
1514,Atuona,-9.80,-139.03,78.66,77,19,18.61,PF,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# preferred_cities_df = city_data_df[(city_data_df['Max Temp']<= max_temp) & (city_data_df['Max Temp']>= min_temp)]
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']<= max_temp) & (city_data_df['Max Temp']>= min_temp)]
preferred_cities_df = preferred_cities_df.set_index('City_ID')
preferred_cities_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
City_ID,,,,,,,,,
10,Toyota,35.08,137.15,86.00,79,75,27.51,JP,broken clouds
13,Uniara,26.15,75.22,87.31,62,56,10.40,IN,broken clouds
18,Salalah,17.02,54.09,78.80,94,40,6.93,OM,scattered clouds
20,Georgetown,5.41,100.34,87.80,70,20,4.70,MY,few clouds
25,Sehwan,26.43,67.86,82.40,69,0,6.93,PK,clear sky
30,Kalispell,48.20,-114.31,75.20,25,1,3.36,US,clear sky
32,Butaritari,3.07,172.79,83.32,75,99,14.99,KI,overcast clouds
35,Georgetown,5.41,100.34,87.80,70,20,4.70,MY,few clouds
36,Atuona,-9.80,-139.03,78.66,77,19,18.61,PF,light rain
42,Vaini,-21.20,-175.20,75.20,64,75,12.75,TO,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
# no empty rows to drop 
clean_df = preferred_cities_df
clean_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
City_ID,,,,,,,,,
10,Toyota,35.08,137.15,86.00,79,75,27.51,JP,broken clouds
13,Uniara,26.15,75.22,87.31,62,56,10.40,IN,broken clouds
18,Salalah,17.02,54.09,78.80,94,40,6.93,OM,scattered clouds
20,Georgetown,5.41,100.34,87.80,70,20,4.70,MY,few clouds
25,Sehwan,26.43,67.86,82.40,69,0,6.93,PK,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
10,Toyota,JP,86.00,broken clouds,35.08,137.15,
13,Uniara,IN,87.31,broken clouds,26.15,75.22,
18,Salalah,OM,78.80,scattered clouds,17.02,54.09,
20,Georgetown,MY,87.80,few clouds,5.41,100.34,
25,Sehwan,PK,82.40,clear sky,26.43,67.86,
30,Kalispell,US,75.20,clear sky,48.20,-114.31,
32,Butaritari,KI,83.32,overcast clouds,3.07,172.79,
35,Georgetown,MY,87.80,few clouds,5.41,100.34,
36,Atuona,PF,78.66,light rain,-9.80,-139.03,
42,Vaini,TO,75.20,broken clouds,-21.20,-175.20,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
#     "location": f"{lat},{lng}".format(lat, lng),
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()
clean_hotel_df = hotel_df

In [11]:
# 8a. Create the output File (CSV)
os.chdir('..')
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))